@model TrabalhoFinalCinema.Models.Empregados
@{
    ViewBag.Title = Model.Id == 0 ? "Novo Empregado" : "Editar Empregado";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Empregados"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Idade)
        @Html.TextBoxFor(m => m.Idade, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Idade)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Funcao)
        @Html.TextBoxFor(m => m.Funcao, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Funcao)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Salario)
        @Html.TextBoxFor(m => m.Salario, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Salario)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aniversario)
        @Html.TextBoxFor(m => m.Aniversario, "{0: dd/MM/yyyy }", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aniversario)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CPF)
        @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CPF)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                Globalize.culture("pt-BR");
                return this.optional(element) || Globalize.parseDate(value) !== null;
            }
        })
    </script>
}