@model TrabalhoFinalCinema.Models.Empregados
@{
    ViewBag.Title = "Empregados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empregados</h2>

<p>Nome: @Model.Nome</p>
<p>Idade: @Model.Idade</p>
<p>Data de Nascimento: @Model.Aniversario</p>
<p>CPF: @Model.CPF</p>
<p>Função: @Model.Funcao</p>
<p>Salário: R$@Model.Salario</p>



