@model TrabalhoFinalCinema.Models.Empregados
@{
    ViewBag.Title = "Empregados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empregados</h2>
<p>@Model.Nome</p>
<p>@Model.Idade</p>
<p>@Model.CPF</p>
<p>@Model.Funcao</p>
<p>@Model.Salario</p>

