@model IEnumerable<TrabalhoFinalCinema.Models.Empregados>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empregados</h2>

@if (Model.Any())
{
    <p>
        @Html.ActionLink("Novo Empregado", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Aniversário</th>
            <th>Função</th>
            <th>Salário</th>
            <th>CPF</th>
            
            </tr>
        </thead>
        <tbody>
            @foreach (var empregado in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@empregado.Nome, "Details", new { empregado.Id })</td>
                    <td>@empregado.Idade Anos</td>
                    <td>@empregado.Aniversario</td>
                    <td>@empregado.Funcao</td>
                    <td>R$ @empregado.Salario</td>
                    <td>@empregado.CPF</td>
                    <td><p>@Html.ActionLink("Editar", "Edit", new { empregado.Id }, new { @class = "btn btn-primary" })</p></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum empregado no momento.</p>
}



