@model IEnumerable<TrabalhoFinalCinema.Models.Empregados>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empregados</h2>

<p>
    @Html.ActionLink("Novo Empregado", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{
    <table id="empregados" class="table table-condensed table-hover">
        <thead>
            <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Aniversário</th>
            <th>Função</th>
            <th>Salário</th>
            <th>CPF</th>
            
            </tr>
        </thead>
        <tbody>
            @foreach (var empregados in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@empregados.Nome, "Details", new { empregados.Id })</td>
                    <td>@empregados.Idade Anos</td>
                    <td>@empregados.Aniversario</td>
                    <td>@empregados.Funcao</td>
                    <td>R$ @empregados.Salario</td>
                    <td>@empregados.CPF</td>
                    <td align="right"><p>@Html.ActionLink("Editar", "Edit", new { empregados.Id }, new { @class = "btn btn-primary" })</p></td>
                    <td><button data-empregados-id="@empregados.Id" class="btn-link js-delete"> Remover </button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum empregado no momento.</p>
}



@section scripts
{
    <script>
        $(document).ready(function () {
            $("#empregados").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este empregado?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/empregados/delete/" + button.attr("data-empregados-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}

