@model TrabalhoFinalCinema.Models.Comidas
@{
    ViewBag.Title = Model.Id == 0 ? "Nova Comida" : "Editar Comida";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Comidas"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Tipo)
        @Html.TextBoxFor(m => m.Tipo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tipo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Preco)
        @Html.TextBoxFor(m => m.Preco, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Preco)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                Globalize.culture("pt-BR");
                return this.optional(element) || Globalize.parseDate(value) !== null;
            }
        })
    </script>
}
