@model TrabalhoFinalCinema.Models.Filmes
@{
    ViewBag.Title = Model.Id == 0 ? "Novo Filme" : "Editar Filme";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Filmes"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genero)
        @Html.TextBoxFor(m => m.Genero, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Genero)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IdadeMinima)
        @Html.TextBoxFor(m => m.IdadeMinima, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IdadeMinima)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Horario)
        @Html.TextBoxFor(m => m.Horario, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Horario)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Linguagem)
        @Html.TextBoxFor(m => m.Linguagem, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Linguagem)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Duracao)
        @Html.TextBoxFor(m => m.Duracao, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Duracao)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                Globalize.culture("pt-BR");
                return this.optional(element) || Globalize.parseDate(value) !== null;
            }
        })
    </script>
}
