@model TrabalhoFinalCinema.ViewModels.FilmesIndexViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Filmes"))
{
    @Html.HiddenFor(m => m.Filme.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Nome)
        @Html.TextBoxFor(m => m.Filme.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Genero)
        @Html.TextBoxFor(m => m.Filme.Genero, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Filme.IdadeMinima)
        @Html.TextBoxFor(m => m.Filme.IdadeMinima, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Horario)
        @Html.TextBoxFor(m => m.Filme.Horario, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Linguagem)
        @Html.TextBoxFor(m => m.Filme.Linguagem, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Filme.Duracao)
        @Html.TextBoxFor(m => m.Filme.Duracao, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}
