@model IEnumerable<TrabalhoFinalCinema.Models.Filmes>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmes</h2>

<p>
    @Html.ActionLink("Novo Filme", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{
    <table id="filme" class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Filme</th>
                <th>Gênero</th>
                <th>Horários</th>
                <th>Idade Mínima</th>
                <th>Linguagem</th>
                <th>Duração</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var filme in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@filme.Nome, "Details", new { filme.Id })</td>
                    <td>@filme.Genero</td>
                    <td>@filme.Horario</td>
                    <td>@filme.IdadeMinima Anos</td>
                    <td>@filme.Linguagem</td>
                    <td>@filme.Duracao min</td>
                    <td align="right"><p>@Html.ActionLink("Editar","Edit", new { filme.Id }, new { @class = "btn btn-primary" })</p></td>
                    <td><button data-filme-id="@filme.Id" class="btn-link js-delete"> Remover </button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum filme disponível no momento.</p>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#filme").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este filme?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/filmes/delete/" + button.attr("data-filme-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}