@model IEnumerable<TrabalhoFinalCinema.Models.Salas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salas</h2>

@if (Model.Any())
{
    <p>@Html.ActionLink("Nova Sala","New", null, new{ @class = "btn btn-primary"})</p>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Sala</th>
                <th>Capacidade de Pessoas</th>
                <th>3D</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sala in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@sala.Nome, "Details", new { sala.Id })</td>
                    <td>@sala.CapacidadePessoas</td>
                    <td>@sala.TresD</td>
                    <td align="right"><p>@Html.ActionLink("Editar", "Edit", new { sala.Id }, new { @class = "btn btn-primary" })</p></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma sala disponível no momento.</p>
}


