@model IEnumerable<TrabalhoFinalCinema.Models.Salas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salas</h2>

<p>
    @Html.ActionLink("Nova Sala", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{
    <table id="sala" class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Sala</th>
                <th>Capacidade de Pessoas</th>
                <th>3D</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sala in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@sala.Nome, "Details", new { sala.Id })</td>
                    <td>@sala.CapacidadePessoas</td>
                    <td>@sala.TresD</td>
                    <td align="right"><p>@Html.ActionLink("Editar", "Edit", new { sala.Id }, new { @class = "btn btn-primary" })</p></td>
                    <td><button data-sala-id="@sala.Id" class="btn-link js-delete"> Remover </button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma sala disponível no momento.</p>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#sala").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover esta Sala?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/salas/delete/" + button.attr("data-sala-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
