@model TrabalhoFinalCinema.ViewModels.SalasIndexViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Salas"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Sala.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Sala.Nome)
        @Html.TextBoxFor(m => m.Sala.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sala.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sala.CapacidadePessoas)
        @Html.TextBoxFor(m => m.Sala.CapacidadePessoas, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sala.CapacidadePessoas)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sala.TresD)
        @Html.TextBoxFor(m=>m.Sala.TresD, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Sala.TresD)
    </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                Globalize.culture("pt-BR");
                return this.optional(element) || Globalize.parseDate(value) !== null;
            }
        })
    </script>
}